
#fotointerviste {
      width: 100%; /* Set width to 100% */
      margin: auto;
}

#fotolibri{
      width: 100%; /* Set width to 100% */
      margin: auto;
}

#fotocultura{
      width: 100%; /* Set width to 100% */
      margin: auto;
}

#piccolo {
  font-size: 13px;
  text-align: ;
}


.immaginefondo{
  height: 250px;
  width: auto;

}

#immaginestriscia{
  padding: 0.9% 0;
}

.citazione{
  text-align: center;
  font-size: 25px;
}

.commenti{  
  font-family: Montserrat;    
  font-size: 15px;
  color: #25A09D;
}