
#fotointerviste {
      height: 580px;
      width: 100%;
}

#fotolibri{
      height: 580px;
      width: 100%;
}

#fotocultura{
      height: 580px;
      width: 100%;
}

#piccolo {
  font-size: 13px;
  text-align: ;
}


.immaginefondo{
  height: 250px;
  width: auto;

}

#immaginestriscia{
  padding: 0.9% 0;
}

#citazione{
  text-align: center;
  color: Black;
  font-family: Bell MT;
  font-size: 30px;
}

.commenti{  
  font-family: Montserrat;    
  font-size: 15px;
  color: #25A09D;
}