

#titolo {
  text-align: center; 
  color: black;
  font-family: Bell MT;
  font-size: 40px;
}


#coloresfondo{
  background-color: #F7F9F8;
}


.fotocategoria {
      height: auto;
      width: 100%;
}



.immaginearticolo{
  height: auto;
  width: 50%;

}


.commenti{  
  font-family: Montserrat;    
  font-size: 15px;
  color: #25A09D;
}


.commenti a{  
  font-family: Montserrat;    
  font-size: 15px;
  color: #25A09D;
}

