<!DOCTYPE html>
<html lang="en">
<head>

  	<title>Cultura</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<!--mio stile-->
	<link rel="stylesheet" href="app/components/categoria/css/categoria.css">
  

</head>
<body id="homeLabel" data-spy="scroll" data-target=".navbar" data-offset="50">


	<menu-mio></menu-mio>


 	<img id="fotocultura" src="img/cultura.jpg"> 
	<br><br><br><br><br>

	<preview-articoli></preview-articoli>



	
	<footer-mio></footer-mio>


</body>
</html>
