<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Interviste</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--mio stile-->
  <link rel="stylesheet" href="app/components/categoria/css/categoria.css">

  
  
</head>
<body id="homeLabel" data-spy="scroll" data-target=".navbar" data-offset="50">

	<menu-mio></menu-mio>


	
	<img id="fotointerviste" src="img/interviste.jpg">
	<br><br><br><br><br>


	<preview-articoli></preview-articoli>

	<!-- FINE INTERVISTE -->
	<div class="container-fluid bg-1">
		<div class="row" id="immaginestriscia">
			<div class="text-center"> 
				<img class="immaginefondo" src="img/fotointervistafondo.jpg" alt="" class="img-responsive text-center">
			</div> <br>
			<h1 id="citazione">"Le idee si assomigliano in modo incredibile, quando si conoscono"
			<small id="piccolo"> Samuel Beckett</small></h1>
		</div>
	</div>


	
	<footer-mio></footer-mio>



</body>
</html>
