<!DOCTYPE html>
<html lang="en">
<head>
  	<title>Libri</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="app/components/categoria/css/categoria.css">
  
</head>
<body id="homeLabel" data-spy="scroll" data-target=".navbar" data-offset="50">

	<menu-mio></menu-mio>


	<img id="fotolibri" src="img/libri.jpg">
	<br><br><br><br><br>
	

	<preview-articoli></preview-articoli>


	<!-- FINE LIBRI -->
	<div class="container-fluid bg-1">
		<div class="row" id="immaginestriscia">
			<div class="text-center"> 
					<img class="immaginefondo" src="img/fotolibrifondo2.jpg" alt="" class="img-responsive text-center">
			</div> <br>
			<h1 class="citazione">"Questo lungo viaggio immobile che chiamiamo leggere"
			<small id="piccolo">Guy Goffette</small></h1>
		</div>
	</div>

		

	<footer-mio></footer-mio>

</body>
</html>
